node_modules/
.expo/
dist/
web-build/
expo-env.d.ts
nativewind-env.d.ts
*.orig.*

.DS_Store

ios/Pods/
ios/build/
ios/*.xcworkspace
ios/*.xcodeproj
android/build/
android/.gradle/
android/app/build/
android/.idea/
android/local.properties
.bundle/
*.jsbundle

*.log
npm-debug.*
yarn-debug.*
yarn-error.*
